section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em 0;
}
button {
    margin: 1em 0;
}
.post-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
}

.post-section input {
    width: 50%;
}